* {
    font-size: 16px;
}

body {
    background-color: #35374B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

p {
    color: white;
    padding: 0px 20px;
}

.calculator {
    width: 370px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202127;
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.output-screen {
    margin-left: auto;
}

textarea {
    margin: 10px 20px;
    height: 20px;
    display: block;
}

#operation {
    width: 100px;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    resize: none;
    color: #F57978;
    text-align: end;
    
}

#result {
    width: 100px;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    resize: none;
    color: white;
    text-align: end;
}

button {
    width: 70px;
    background-color: #2A2D35;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 7px;
    margin: 0;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.2),
                0px -1px 0px 0px rgba(255, 255, 255, 0.2),
                0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #252730;
    border-radius: 10px;
}

.zero {
    max-width: 158px;
    flex: 1;
}

.fn-button {
    color: #8A9CFD;
}

.operator {
    color: #F57978;
}

.equal {
    background-color: #F57978;
    color: white;
}